<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.study_time_planner">

    <!-- السماح بإعادة تشغيل الإشعارات بعد إعادة تشغيل الجهاز -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- اختياري: للسماح بالاهتزاز في الإشعارات -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="${applicationName}"
        android:label="study_time_planner"
        android:icon="@mipmap/ic_launcher">

        <!-- مستقبل إشعارات مكتبة awesome_notifications -->
        <receiver
            android:name="me.carda.awesome_notifications.notifications.receivers.AwesomeNotificationsReceiver"
            android:exported="true" />

        <!-- استقبال إعادة التشغيل -->
        <receiver
            android:name="me.carda.awesome_notifications.notifications.receivers.AwesomeBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:taskAffinity="">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
